!pip install openpyxl

In [1]:
%%javascript
// to avoid scroll in windows
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import csv
import pandas as pd
import numpy as np
pd.set_option('future.no_silent_downcasting', True)

In [3]:
naio = pd.read_excel('naio.xlsx', sheet_name = 'Sheet1')
#pd.set_option('display.max_rows', 1000)
naio = naio.iloc[9:93]
naio = naio.dropna(axis=1, how='all')
naio = naio.loc[:, (naio != ":").any()]
naio.columns=naio.iloc[0,:]
naio=naio.drop(index=[9,10]) #empty values for all the row
naio

9,IND_USE (Labels),Total,Manufacture of food products; beverages and tobacco products,"Manufacture of textiles, wearing apparel, leather and related products",Manufacture of furniture; other manufacturing,"Sewerage, waste management, remediation activities","Motion picture, video, television programme production; programming and broadcasting activities","Computer programming, consultancy, and information service activities",Imputed rents of owner-occupied dwellings,Real estate activities excluding imputed rents,...,Gross capital formation,Changes in inventories and acquisition less disposals of valuables,Exports of goods and services,Exports to EU members states,Exports to non-member of the EU,Exports to members of the euro area,Exports to non-members of the euro area,Gross fixed capital formation,Total use,Total final use
11,Total,16939701.18,983256.48,149771.07,175134.17,171307.78,95966.37,496191.44,:,443570.91,...,3680502.16,360243.46,3291159.74,:,3291159.74,:,:,3320258.7,34779463.55,17839762.37
12,"Products of agriculture, hunting and related s...",381871.38,267542.11,3881.34,130.82,61.35,31.28,10.5,:,71.09,...,17919.23,10474.61,30647.16,:,30647.16,:,:,7444.62,574835.97,192964.59
13,"Products of forestry, logging and related serv...",42864.37,312.45,10.71,922.93,10.99,2.71,0.31,:,17.07,...,11542.35,11085.96,2148.11,:,2148.11,:,:,456.39,64969.36,22104.99
14,Fish and other fishing products; aquaculture p...,10980.08,6627.63,7.25,8.8,4.5,4.62,8.9,:,5.34,...,10.29,-45.88,575.75,:,575.75,:,:,56.16,22289.98,11309.9
15,Mining and quarrying,337295.56,2658.86,193.46,674.16,473.93,15.35,32.83,:,291.5,...,3949.72,2681.28,10117.36,:,10117.36,:,:,1268.44,364123.89,26828.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Intermediate consumption,17369689.89,990067.83,151365.61,177003.65,176732.77,96894.01,500556.3,:,472807.3,...,3680502.16,366033.71,3291159.74,:,3291159.74,:,:,3566539.64,34867131.65,17927430.47
89,Total intermediate consumption /final use,17369689.89,990067.83,151365.61,177003.65,176732.77,96894.01,500556.3,:,472807.3,...,3680502.16,366033.71,3291159.74,:,3291159.74,:,:,3566539.64,34779463.55,17839762.37
90,Cif/fob adjustments on exports,0,0,0,0,0,0,0,:,0,...,0,0,0,:,:,:,:,0,0,0
91,Consumption of fixed capital,0,0,0,0,0,0,0,:,:,...,:,:,:,:,:,:,:,:,:,:
92,Use of imported products,2153475.82,103873.44,32814.61,29229.35,12357.78,14093.13,95126.51,:,13780.09,...,:,109598.17,:,:,:,:,:,322845,:,:

In [4]:
sbs = pd.read_excel('sbs.xlsx', sheet_name = 'Sheet 1')
pd.set_option('display.max_rows', 1000)
sbs = sbs.drop(index=9) #empty values for all the row
sbs = sbs.iloc[8:25]
sbs = sbs.replace(":", np.nan)
sbs = sbs.replace("e", np.nan) #e = estimated
sbs = sbs.replace("c", np.nan) #c = confidential
sbs.columns=sbs.iloc[0,:]
sbs = sbs.dropna(axis=1,how='all')
sbs = sbs.drop(index=8) #empty values for all the row
sbs

8,SIZE_EMP (Labels),Total,From 0 to 1 person employed,From 0 to 9 persons employed,From 2 to 9 persons employed,From 10 to 19 persons employed,From 20 to 49 persons employed,From 50 to 249 persons employed,250 persons employed or more
10,Mining and quarrying,371000,NaN,30000,NaN,24400,38600,63848,213000
11,Manufacturing,30007527,NaN,3720000,NaN,2130000,3137995,6501120,14514113
12,"Electricity, gas, steam and air conditioning s...",1380000,NaN,192263,NaN,26554,48700,137668,977247
13,"Water supply; sewerage, waste management and r...",1585225,NaN,134000,NaN,80000,150000,370000,NaN
14,Construction,13814274,2292700,6463861,4171161,1989977,1869881,1756785,1733772
15,Wholesale and retail trade; repair of motor ve...,29779934,2869697,10159638,7289941,2867238,3099214,4100000,9600000
16,Transportation and storage,10368577,795843,2132860,1337017,778285,1090577,1605824,4761030
17,Accommodation and food service activities,10888928,670000,4500000,3800000,1850000,1570000,1421984,1570000
18,Information and communication,7169884,839595,1694054,854459,458755,648890,1252840,3115346
19,Financial and insurance activities,4950777,NaN,912551,NaN,NaN,177248,494777,NaN
20,Real estate activities,2674967,732689,1703331,970642,204985,198000,271677,NaN
21,"Professional, scientific and technical activities",12013424,3268760,6306152,3037392,1085161,1100000,1360181,2200000
22,Administrative and support service activities,13987371,1054559,2443205,1388646,730461,1093974,2313468,7406264
23,Education,2453280,572741,1074485,501744,221804,290962,417229,448801
24,Human health and social work activities,13308561,1528116,3417453,1889337,944000,994469,1780000,6169122
25,"Arts, entertainment and recreation",2192933,532163,1018050,485887,203295,247350,314087,410147