!pip install openpyxl

In [14]:
import csv
import pandas as pd
from openpyxl import Workbook

,Data extracted on 10/11/2024 22:55:33 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,Dataset:,Use table at basic prices [naio_10_cp1610__cus...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,31/10/2024 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Unit of measure,NaN,Million euro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Use of imported products,2153475.82,NaN,103873.44,NaN,32814.61,NaN,29229.35,NaN,12357.78,...,NaN,:,NaN,:,NaN,322845,NaN,:,NaN,:
93,Total employment domestic concept,:,NaN,:,NaN,:,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
naio = pd.read_excel('naio_10_cp1610__custom_13696232_page_spreadsheet.xlsx', sheet_name='Sheet 1', engine="openpyxl")
sbs = pd.read_excel('sbs_sc_ovw__custom_13696153_page_spreadsheet.xlsx', sheet_name='Sheet 1')

/home/leolina/.local/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/leolina/.local/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [15]:
naio=pd.read_csv('estat_naio_10_cp1610_filtered.tsv', delimiter = "\t")

naio

     freq,unit,ind_use,stk_flow,prd_ava,geo\TIME_PERIOD        2022
0               A,MIO_EUR,C10-12,TOTAL,ADJ_P6,EU27_2020         0.00
1                  A,MIO_EUR,C10-12,TOTAL,B1G,EU27_2020    284672.03
2                A,MIO_EUR,C10-12,TOTAL,B2A3G,EU27_2020    135202.05
3                A,MIO_EUR,C10-12,TOTAL,B2A3N,EU27_2020         0.00
4                  A,MIO_EUR,C10-12,TOTAL,B3G,EU27_2020         0.00
...                                                 ...          ...
1788               A,MIO_EUR,TU,TOTAL,OP_NRES,EU27_2020         0.00
1789                A,MIO_EUR,TU,TOTAL,OP_RES,EU27_2020     87668.10
1790                    A,MIO_EUR,TU,TOTAL,P2,EU27_2020  34867131.65
1791                A,MIO_EUR,TU,TOTAL,P2_ADJ,EU27_2020  34779463.55
1792                 A,MIO_EUR,TU,TOTAL,TOTAL,EU27_2020  34779463.55

[1793 rows x 2 columns]

In [16]:
naio2 = pd.read_excel('naio_10_cp1610__custom_13696232_page_spreadsheet.xlsx', sheet_name='Sheet1')

In [17]:
naio2

,Data extracted on 10/11/2024 22:55:33 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,Dataset:,Use table at basic prices [naio_10_cp1610__cus...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last updated:,31/10/2024 23:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Unit of measure,NaN,Million euro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Use of imported products,2153475.82,NaN,103873.44,NaN,32814.61,NaN,29229.35,NaN,12357.78,...,NaN,:,NaN,:,NaN,322845,NaN,:,NaN,:
93,Total employment domestic concept,:,NaN,:,NaN,:,NaN,:,NaN,:,...,NaN,:,NaN,:,NaN,:,NaN,:,NaN,:
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN